:root {

}

* {

}

body { 



}

.style {
    display: inline-flex; 
    width: 100%;


}

.dashboard {
    background-color:rgb(176, 235, 255);
    text-align: center;
    color: white;
    text-size-adjust: 40px;
    padding: 10px;
    



}

.center-container{
    width: 80%;
    margin: 40px
   
}

.current-city {
    12px; border: 1px solid blue;



}


.present {

}

.left-chart {
    width:35%; 
    margin-left: 1%;
    margin: 2%;
    

}

#search-city {


}


.btn {
    background-color:rgb(176, 235, 255);

}

.line{


}

.columns {


}
textarea {
    display: block;
}

.weather-cards { display: inline;
   
  


}

#monday { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 30px;
    display:inline ;
    text-align: center;
   

}

#tuesday {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;

}

#wednesday {


}

#thursday {


}

#friday {


}

